<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.si543.whatsyourstory" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/action_bar_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".LogInActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.LogInActivity" />
        </activity>
        <activity
            android:name=".SetMyInitProfileActivity"
            android:label="Profile Setting"
            android:parentActivityName=".SignUpActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.SignUpActivity" />
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".FeedActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.FeedActivity" />
        </activity>
        <activity
            android:name=".MessagesListActivity"
            android:label="Message Archive"
            android:parentActivityName=".FeedActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.FeedActivity" />
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="Message"
            android:parentActivityName=".MessagesListActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.MessagesListActivity" />
        </activity>
        <activity
            android:name=".ChooseSkillsActivity"
            android:label="Choose Skills"
            android:parentActivityName=".SetMyInitProfileActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.SetMyInitProfileActivity" />
        </activity>
        <activity
            android:name=".ChooseInterestsActivity"
            android:label="Choose Interests"
            android:parentActivityName=".ChooseSkillsActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.ChooseSkillsActivity" />
        </activity>
        <activity
            android:name=".OtherUserProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FeedActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.FeedActivity" />
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".OtherUserProfileActivity" >

            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.FavoritesActivity" />
        </activity>

    </application>

</manifest>
