<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.si543.whatsyourstory" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.si543.whatsyourstory.LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.FeedActivity"
            android:label="@string/action_see_other_profile" >
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.SignUpActivity"
            android:label="@string/action_sign_up"
            android:parentActivityName="com.example.si543.whatsyourstory.LogInActivity">
            <!-- A child of the main activity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.si543.whatsyourstory.LogInActivity" />
        </activity>

        <activity
            android:name="com.example.si543.whatsyourstory.SetMyInitProfileActivity"
            android:label="@string/action_my_init_profile_next" >
        </activity>
        <activity

            android:name="com.example.si543.whatsyourstory.ChooseSkillsActivity"
            android:label="@string/action_skills_next" >
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.ChooseInterestsActivity"
            android:label="@string/action_interests_next" >
        </activity>

        <activity

            android:name="com.example.si543.whatsyourstory.OtherUserProfileActivity"
            android:label="@string/action_message" >
        </activity>

    </application>

</manifest>
