<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.si543.whatsyourstory" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.si543.whatsyourstory.LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.FeedActivity"
            android:label="@string/title_activity_feed_view" >
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.SignUpActivity"
            android:label="@string/action_sign_up" >
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.SetMyInitProfileActivity"
            android:label="@string/action_my_init_profile_next" >
        </activity>
        <activity

            android:name="com.example.si543.whatsyourstory.ChooseSkillsActivity"
            android:label="@string/action_skills_next" >
        </activity>
        <activity
            android:name="com.example.si543.whatsyourstory.ChooseInterestsActivity"
            android:label="@string/action_interests_next" >
        </activity>
    </application>

</manifest>
